.button_link {
    background-color: #101060;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer
}

.window_bg {
    background-color: cadetblue;
}

.desktop {
    background-color:#909090;
}

.window_title {
    background-color: darkblue;
    color: white;
    text-align: center;
}

.window_border {
    border: 1px solid #303030;
}

.sub_window_border {
    border: 1px solid #303030;
    margin: 10px
}