manifesto.md
game_files/**/*.CC
game_files/**/*.CUR
game_files/**/*.cc
game_files/**/*.cur
game_files/baked/
game_files/server_files/
tiled_projects/
.idea/
env/
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
venv/
__pycache__/