Pillow==9.3.0
python-slugify
Flask
imageio
ffmpeg-python
imageio-ffmpeg
boltons
fastapi
uvicorn[standard]
python-multipart
orjson
# fastapi-users[sqlalchemy]
# aiosqlite
fastapi-login
pydantic[dotenv, email]
sqlalchemy
# python-i18n[YAML]
translators
toml
bcrypt
# fastapi_keycloak
fastapi-utils
xxhash

sympy
numpy

python-dotenv==0.19.2
supertokens-python

auth0-python

jwt
