{% set map = pack[asset_slug].load_map() %}
{% set map_name = pack[asset_slug].name %}

{% set width  = map.width %}
{% set height = map.height %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='general.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('resource_pack_css_download', pack_name=pack_name, map_name=map_name) }}"/>
    <style>
        .item_label {
            width: 100px;
            display: inline-block;
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>
<body class="window_bg">

<div class="sub_window_border">
    <div class="window_title">
    Layers
    </div>
    <div style="overflow: scroll; overflow-x: hidden; height: 150px">
        {% for layer_name in map.layer_names %}
            {% set tile_name = layer_name + "-map" %}

            <span class="item_label">{{ layer_name }}:</span>

            {%  if layer_name in ["height", "ground", "surface", "wall", "env", "building"] %}
                <i style="color: #404040">( Chosm render layer )</i>
            {%  else  %}
                <i style="color: #404040">( data layer )</i>
            {% endif %}

            {% if tile_name in map.luts_by_name %}
                <i style="color: #404040">( has 2d map tiles )</i>
            {% endif %}

            <br>
        {% endfor %}
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    Look up tables
    </div>
    {% for lut in map.luts %}
        <b>{{ lut.name }}</b> <br/>
        <table>
        <tr>
            {% for key in lut.keys() %}
                {% set slug = lut[key] %}
                {% if slug != none %}
                    {% set w = pack[slug].width %}
                    {% set h = pack[slug].height %}
                    {% set ratio = h / w %}
                    {% set h2 = ratio * 32 %}
                    {% set class_name = pack[slug].idle_animation['class'] %}

    {#                {% set sprite_url = url_for('get_file', pack_name=pack_name, asset_slug=slug, file_name="frame_00.png") %}#}
    {#                <td class="sprite_td" style="background-image: url('{{ sprite_url }}'); width: 32px; height: {{ h2 }}px;">#}
    {#                        {{ key }}#}
    {#                </td>#}

                    <td class="{{ class_name }}" style="width: 32px; height: {{ h2 }}px;
                            position: unset; text-shadow: 0px 0px 2px white, -1px -1px 2px white;
                            background-size: 100% 100%; text-align: center;">
                            {{ key }}
                    </td>
                {% endif %}
            {% endfor %}
        </tr>
        </table>
    {% endfor %}
</div>


<div class="sub_window_border">
    <div class="window_title">
    Map Render
    </div>
    {% set tile_scale = 2 %}
    {% set tile_size = 8 * tile_scale %}
    <div style="overflow: scroll; height: 400px">
        <div style="position: relative; width: {{ width * tile_size }}px; height: {{ width * tile_size }}px">
            {%  for layer_name in ["ground", "env", "building"] %}
                {% set tile_lut_name = layer_name + "-map" %}
                {% if tile_lut_name in map.luts_by_name %}
                    {% set lut = map.luts_by_name[tile_lut_name] %}
                    {% for y in range(height) %}
                        {% for x in range(width) %}
                            {% set tile_idx = map[x, y, layer_name] %}
                            {% set tile_slug = lut[tile_idx] %}

                            {% if tile_slug != none %}
                                {% set class_name = pack[tile_slug].idle_animation['class'] %}

                                <div class='{{ class_name }}'
                                     style="scale: {{ tile_scale }}; position: absolute;
                                             left: {{ x*tile_size + 16 }}px; top: {{ y*tile_size + 16 }}px">
                                </div>
                            {% endif %}

{##}
{#                        {% if layer_name == ground or tile_idx != 0 %}#}
{#                            <div class='{{ tile_class }}'#}
{#                                 style="scale: {{ tile_scale }}; position: absolute; left: {{ x*tile_size + 16 }}px; top: {{ y*tile_size + 16 }}px"#}
{#                                 {% if loop.index == 0 %}#}
{#                                    title="{{ idx_ground }}, {{ idx_object }}, {{ idx_map_tile }}, {{ idx_map_icon }}"#}
{#                                 {% endif %}#}
{#                            >#}
{#                            </div>#}
{#                        {% endif %}#}
                        {%  endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    Heightmap ({{ width }} x {{ height }})
    </div>
</div>

{%  include 'editor_file_list.html' %}

</body>
</html>