{% set map = pack.load_json_file_from_resource(resource_name, "map.json") %}
{% set width  = map["width"] %}
{% set height = map["height"] %}
{% set tiles  = map["map"] %}
{% set tileset_name = map["tileset_name"] %}
{% set tileset_info = pack.get_info(tileset_name) %}
{% set sprite_sheet = url_for('get_file', pack_name=pack_name, resource_name=tileset_name, file_name="_sprite_sheet.png") %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='general.css') }}"/>
    <link href="{{ url_for('get_file', pack_name=pack_name, resource_name=tileset_name, file_name="_animation.css") }}"
     rel="stylesheet">
</head>
<body class="window_bg">

<div class="sub_window_border">
    <div class="window_title">
    Map Tile Data "Name" ({{ width }} x {{ height }})
    </div>
    <div style="overflow: scroll; height: 400px">
        <table cellspacing="0" style="text-align: center; font-size: 12px">
                {% for y in range(height) %}
                    <tr style="height: 28px">
                        {% for x in range(width) %}
                            {% set pos = x + y * width %}
                            <td style="border: 1px solid">
                                {% set idx_ground = tiles[pos]["idx_ground"] %}
                                {% set idx_object = tiles[pos]["idx_object"] %}
                                {% set idx_map_tile = tiles[pos]["idx_map_tile"] %}
                                {% set idx_map_icon = tiles[pos]["idx_map_icon"] %}
                                {{ idx_ground }}, {{ idx_object }}<br>
                                {{ idx_map_tile }}, {{ idx_map_icon }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    Tile set
    </div>
    <div style="overflow: scroll">
        <img src="{{ sprite_sheet }}" style="height: 32px; width:auto">
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    Map Render
    </div>
    <div style="overflow: scroll; height: 400px">
        <div style="position: relative; width: {{ width * 32 }}px; height: {{ width * 32 }}px">
            {% for y in range(height) %}
                {% for x in range(width) %}
                    {% set pos = x + y * width %}
                    {% set idx_ground = tiles[pos]["idx_ground"] %}
                    {% set idx_object = tiles[pos]["idx_object"] %}
                    {% set idx_map_tile = tiles[pos]["idx_map_tile"] %}
                    {% set idx_map_icon = tiles[pos]["idx_map_icon"] %}
                    {% set idx_ground_class = "image_"+tileset_info["slug"]+"_frame_"+("%04d" % idx_ground) %}
                    {% set idx_ground_class = "image_"+tileset_info["slug"]+"_frame_"+("%04d" % idx_ground) %}
                        <div title="{{ idx_ground }}, {{ idx_object }}, {{ idx_map_tile }}, {{ idx_map_icon }}"
                             class='{{ idx_ground_class }}'
                             style="scale: 4; position: absolute; left: {{ x*32 + 16 }}px; top: {{ y*32 + 16 }}px">
                        </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    Heightmap ({{ width }} x {{ height }})
    </div>
</div>

<div class="sub_window_border">
    <div class="window_title">
    List of files in resource
    </div>
    <div style="overflow: auto; height: 200px; background-color:#a0a0a0">
        {% for file in pack.get_resource_files(resource_name) %}
          <a href=" {{ url_for('get_file', pack_name=pack_name, resource_name=resource_name, file_name=file) }}">{{ file }}</a><br>
        {% endfor %}
    </div>
</div>

</body>
</html>