<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
{#    <link rel="stylesheet" type="text/css" href="../static/general.css"/>#}
    <meta charset="UTF-8">
    <title>Resource Pack Editor / Viewer</title>
    <link href="{{ url_for('static', path='/general.css') }}" rel="stylesheet">

    <style>
        #left_div {
            float: left;
            width: 240px;
            height: 100%;
            background-color:#606060;
            {#background-color:pink;#}
        }
        #right_div {
            overflow: hidden;
            height: 100%;
            {#background-color:green;#}
        }
        html, body {
            height: 99.5%;
            margin: 0px;
            padding: 0px;
        }
    </style>


</head>

<body>
{#<div id="left_div">fixed</div>#}
{#<div id="right_div">fluid</div>#}

<div id="left_div">
    <div style="padding: 10px">
      <b>Packs</b>
      <div style="overflow: auto; height: 100px; background-color:#a0a0a0">
          {% for pack in packs %}
            <a href="{{ url_for('editor_view', pack_name=pack) }}">{{pack}}</a><br>
          {% endfor %}
      </div>

      <hr/>
      <b>Resources</b></br>
      <form method="post" id="glob-epr-form">
          <table>
              <tr>
                  <td> <label for="glob-epr">filter</label> </td>
                  <td>
                    <input type="text" name="glob-epr" id="glob-epr", value="{{ glob_exp }}" style="width: 150px">
                  </td>
              </tr>
              <tr>
                <td><label for="sort_order">filter</label></td>
                <td>
                <select name="sort_order" id="sort_order">
                    <option value="id">id</option>
                    <option value="-id">id (reverse)</option>
                    <option value="name", selected>name</option>
                    <option value="-name">name (reverse)</option>
                    <option value="created_timestamp">created</option>
                    <option value="-created_timestamp">created (reverse)</option>
                    <option value="slug">type, then name</option>
                    <option value="-slug">type, then name (reverse)</option>
                </select>
                </td>
              <tr>
          </table>


        <button type="submit">Apply</button>
      </form>

      {# TODO: I want this div to fill out the remaining space, but it's not coperating #}
      <div style="overflow: auto; height: 600px; background-color:#a0a0a0; margin-top: 10px; border: 1px solid">
          {% for slug, dir in resources.items() %}
                    <a href="{{ url_for('editor_view', pack_name=pack_name, asset_slug=slug) }}"
                       class="button_link"
                        style="width: 35%;">
                    <img src="{{ url_for('get_file', pack_name=pack_name, asset_slug=slug, file_name="preview.jpg")  }}"
                         style="width: 64px">
                        {{ resources[slug].name }}
                    </a>
              {% if (loop.index0 + 1) % 2 == 0 %}
                  <br>
              {% endif %}
          {% endfor %}
      </div>
    </div>
</div>

<div id="right_div" class="desktop">
  {% if asset_slug %}
      {# TODO: remove the  width: 1200px and let this fill the screen.#}
      <div class="window_border" style="width: 1200px">
          <div class="window_title" >
              {{ pack[asset_slug].asset_type_as_string }} editor
          </div>

          {# TODO: I want this iframe to fill out the remaining space, but it's not coperating #}
          <iframe src="{{ url_for('edit_asset_view', pack_name=pack_name, asset_slug=asset_slug) }}"
                  title="Editor View" scrolling="“no”" frameborder="“0”" width="1200px" height="800px"
          style="float: top">
          </iframe>
      </div>
  {% else %}
      Todo: summary stats, download, copy, upload new resource, etc.
  {% endif %}
</div>




<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

  <script type="text/javascript">
    $(document).on('click','#glob-epr-form',function(e)
                   {
      console.log('hello');
      e.preventDefault();
      $.ajax({
        type:'POST',
        url:'{{ url_for("editor_view", pack_name=pack_name, asset_slug=asset_slug) }}',
        data:{
          glob-epr:$("#glob-epr").val()
        },
        success:function()
        {
          alert('saved');
        }
      })
    });
  </script>


</body>
</html>