<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='general.css') }}"/>
    <meta charset="UTF-8">
    <link href="{{ url_for('get_file', pack_name=pack_name, resource_name=resource_name, file_name="animation.css") }}"
     rel="stylesheet">
</head>

<body class="window_bg" style="background-color: cadetblue">
<div style="">

    <div style="width: 600px" class="sub_window_border">
        <div class="window_title">
        Sprite Sheet ({{ info["num_frames"] }} frames)
        </div>

        <div style="overflow: scroll">
            <img src="{{ url_for('get_file', pack_name=pack_name, resource_name=resource_name, file_name="sprite_sheet.png")  }}">
        </div>
    </div>
</div>

<br>
{% for anim_info in info["animations"] %}
    <div class="sub_window_border">
        <div class="window_title">
        Animation "{{ anim_info["slug"] }}" ({{ anim_info["frame_idx_list"]|length }} frames)
        </div>
        <div style="width: {{ 600 }}px; height: {{ info["height"] + 20 }}px;
             background-color: fuchsia;
             background-image: linear-gradient(fuchsia, #900090);">
            <div class='anim_{{ info["slug"] }}_{{ anim_info["slug"] }}'
                 style="width: {{ info["width"] + 10 }}px; height: {{ info["height"] + 10 }}px">
            </div>
        </div>
        <table style="">
            <tr>
                <td style="text-align: right">frame order:</td>
                <td> {{ anim_info["frame_idx_list"] }}</td>
            </tr>
            <tr>
                <td style="text-align: right">fps:</td>
                <td> {{ anim_info["fps"]|round(2) }} <span style="color: #404040"> &nbsp;&nbsp;&nbsp ({{ anim_info["ms_per_frame"] }}ms per frame) </span> </td>
            </tr>
        </table>

    </div>
    <br>
{% endfor %}

<div class="sub_window_border">
    <div class="window_title">
    List of files in resource
    </div>
    <div style="overflow: auto; height: 200px; background-color:#a0a0a0">
        {% for file in pack.get_resource_files(resource_name) %}
          <a href=" {{ url_for('get_file', pack_name=pack_name, resource_name=resource_name, file_name=file) }}">{{ file }}</a><br>
        {% endfor %}
    </div>
</div>

</body>
</html>